a {
  color: inherit;
  text-decoration: none;
}

:root {
  --font-title: "Dancing Script", cursive;
  --font-paragraph: "Karla", sans-serif;
  --font-formal: "Inter", sans-serif;
  --color-light-pink: rgba(247, 214, 210, 1);
  --color-dark-pink: rgb(244, 173, 165);
  --color-pink-highlight: rgb(244, 105, 128);
  --color-light-grey: rgba(215, 215, 217, 1);
  --color-lightblue-grey: rgba(148, 166, 159, 1);
  --color-light-blue: rgba(79, 111, 140, 1);
  --color-dark-blue: #3c5473;
}

Color Theme Swatches in RGBA
.My-Color-Theme-1-rgba {
  color: rgba(215, 215, 217, 1);
}
.My-Color-Theme-2-rgba {
  color: rgba(79, 111, 140, 1);
}
.My-Color-Theme-3-rgba {
  color: rgba(148, 166, 159, 1);
}
.My-Color-Theme-4-rgba {
  color: rgba(247, 214, 210, 1);
}
.My-Color-Theme-5-rgba {
  color: rgba(60, 84, 115, 1);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1em;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* input, textarea{
  text-transform: capitalize;
} */

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
