.wishlist__container {
  min-height: 100vh;
  font-family: var(--font-paragraph);
  width: 60%;
  margin-bottom: 3em;
  padding-top: 8em;
}

.wishlist_title {
  font-size: 2em; 
  color: var(--color-dark-blue);
  margin-bottom: .5em;
}

.wishlist_title_hidden {
  visibility: hidden;
}

.wishlist_product_container {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 1px grey;
}

/* .wishlist_product_img_container {} */

.wishlist_product_img {
  height: 8em;
  width: 8em;
  object-fit: cover;
}

.wishlist_product_info_container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: .7em 0;
  margin: 0 1em;
}

.wishlist_product_name {
  text-transform: capitalize;
  font-size: 1.1em;
  padding-bottom: .5em;
}

.wishlist_product_details_btn {
 font-size: .9em;
 text-decoration: underline;
 color: var(--color-light-blue);
}

.wishlist_fav_btn_container {
  margin-right: 1em;
}

.wishlist_fav_btn_container:hover {
  cursor: pointer;
}

.wishlist_fav_btn {
  padding-top: 1em;
}


/* Loader */


.wishlist__loading {
  height: 100vh;
  margin: auto;
  padding-top: 10em;
  font-family: var(--font-paragraph);
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-dark-blue);
}


/* Empty shopping cart */


.empty_cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty_cart__message {
  padding-top: 5em; 
  margin-bottom: 2em;
}

.empty_cart__btn {
  font-family: var(--font-paragraph);
  padding: 0.5em 1em;
  background-color: var(--color-light-pink);
  border: none;
  border: 1px solid var(--color-dark-blue);
  border-radius: 3px;
  color: var(--color-dark-blue);
  font-size: 0.9em;
}

.empty_cart__btn:focus,
.empty_cart__btn:hover {
  background-color: rgb(246, 226, 226);
  cursor: pointer;
}


/* Responsive layout */


@media (max-width: 1540px) {
  .wishlist__container {
    padding-top: 11em;
  }
}

@media (max-width: 1200px) {
  .wishlist__container {
    width: 70%;
  }
}

@media (max-width: 1175px) {
  .wishlist__container {
    padding-top: 10em;
  }
}

@media (max-width: 1100px) {
  .wishlist__container {
    width: 80%;
  }
}

@media (max-width: 900px) {
  .wishlist__container {
    padding-top: 4em;
  }
}

@media (max-width: 780px) {
  .wishlist__container {
    padding-top: 5em;
  }

  .wishlist__loading {
    padding-top: 8em;
  }
}

@media (max-width: 660px) {
  .wishlist__container {
    padding-top: 3em;
  }
  
  .wishlist_product_container {
    font-size: .9em;
  }
}
