/* .account__container {
  min-height: 100vh;
  display: flex;
  justify-content: center;

} */

.profile__container {
  font-family: var(--font-paragraph);
  width: 90%;
  margin-bottom: 6em;

}

.profile__title {
  font-size: 2em;
  color: var(--color-dark-blue);
  margin-bottom: 0.5em;
}

.profile__data{
  display: flex;
  flex-direction: row;

  width: 60%;
}

.profile__info_container{
  padding: 2em;
}

.avatar__image{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 5em;
  height: 5em;
  margin: 2em;
}


@media (max-width: 1540px) {
  .account__container {
    padding-top: 11em;
  }
}

@media (max-width: 1175px) {
  .account__container {
    padding-top: 10em;
  }
}

@media (max-width: 780px) {
  .account__container {
    padding-top: 11em;
  }
}
