.products_manage__container {
  min-height: 100vh;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-paragraph);
}

.products_manage__title {
  font-size: 2em;
  color: var(--color-dark-blue);
  text-align: center;
  margin: .5em;
}

.products__map_container{
  overflow-y: scroll;
  margin-bottom: 2em;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px grey;
  width: 100%;
  background-color: rgb(248, 246, 248);
  max-height: 25em;
}

.product__card_container {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 1px grey;
  flex-direction: row;
  margin: 0.5em;
  border-radius: 0.2em;
  padding: 0.5em;
  width: 95%;
  background-color: white; 
}


.product_card__img_container {
  width: 30%;
  width: 8em;
  height: 8em;
}

.product_card__img{
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: .2em;
}

.product__card__info_container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: .5em;
  margin-left: 2em;
  margin-right: 1em;
}


.product__card__icons{
  margin-right: .5em;

}

.product__card__icon_edit{
  border-radius: 50%;
  border: none;
  padding: .5em;
  margin: .2em;
}

.visibility__btn{
  background-color: green;
  color : white;
  width: 12em;
  border: none;
  border-radius: 5px;
  padding: .5em;
  margin-left: auto;
  margin-top: 1em;
  
}

.change__price__btn {
  width: 12em;
  margin-left: auto;
  margin-top: 1em;
  border: none;
  border-radius: 5px;
  padding: .5em;
  color: var(--color-light-blue);
  background-color: var(--color-light-pink);
}

.modal__container{
  width: 40%;
  margin: auto;
  margin-top: 7em;
  margin-bottom: 7em;
  max-height: 75%;
  overflow-y: auto;
  border: 2px solid rgb(211, 210, 210);
  background-color: rgb(248, 246, 248);
  font-family: var(--font-paragraph);
  padding: 2em 3em;
}

.modal__error{
  color: red;
}
/*End modal*/

/* Responsive layout */
@media (max-width: 1540px) {
  .products_form__container {
    padding-top: 11em;
  }
}

@media (max-width: 1175px) {
  .products_form__container {
    padding-top: 10em;
  }
}

@media (max-width: 880px) {
  .products_form__container {
    padding-top: 4em;
  }
}

@media (max-width: 780px) {
  .products_form__container {
    padding-top: 6em;
  }
}

@media (max-width: 660px) {
  .products_form__container {
    padding-top: 3em;
  }
}