.products_manage__container {
  min-height: 100vh;
  padding-top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-paragraph);
  width: 65%;
}

.products_manage__title {
  font-size: 2em;
  color: var(--color-dark-blue);
  text-align: center;
  margin: .5em;
}

.products_manage_comands{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.search_bar__input {
  padding: .3em .5em;
  width: 25em;
  border: none;
  border-radius: .2em;
  box-shadow: 0 0 2px grey;
}

.products__map_container{
  overflow-y: scroll;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px grey;
  width: 100%;
  background-color: rgb(248, 246, 248);
  max-height: 30em;
}

.product__card_container {
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 1px grey;
  flex-direction: row;
  margin: 0.5em;
  border-radius: 0.2em;
  padding: 0.5em;
  width: 95%;
  background-color: white; 
}


.product_card__img_container {
  width: 30%;
  width: 8em;
  height: 8em;
}

.product_card__img{
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: .2em;
}

.product__card__info_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  padding-top: .5em;
  margin-left: 1.5em;
}


.product__card__icons{
  display: flex;
  flex-direction: row;
  margin-right: .5em;

}

.product__card__icon_edit{
  border-radius: 50%;
  border: none;
  padding: .6em;
  margin: .4em;
}

.visibility__btn, .change__price__btn {
  width: 14em;
  padding: .3em;
  background-color: rgb(220, 217, 217);
  color: black;
  border: none;
  border: 1px solid grey;
  border-radius: .2em;
  margin-bottom: .5em;
  margin-left: auto;
}

.visibility__btn:hover,
.change__price__btn:hover {
  cursor: pointer;
  background-color: rgb(233, 227, 227);
  color: var(--color-dark-blue);
}

.visibility__btn{
  background-color: rgb(10, 181, 10);
  color: white;
}

/*MASIVE MODAL*/

.modal {
  width: 40%;
  margin: auto;
  margin-top: 7em;
  margin-bottom: 7em;
  max-height: 75%;
  overflow-y: auto;
  border: 2px solid rgb(211, 210, 210);
}

.modal__container {
  background-color: rgb(248, 246, 248);
  font-family: var(--font-paragraph);
  padding: 2em 3em;
}

.modal__container > h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
  padding-bottom: 1em;
}

.modal__btn_right_container {
  float: right;
}

.modal__close_modal_btn {
  border: none;
  border-radius: .2em;
  padding: .2em .7em;
  background-color: rgb(250, 47, 47);
  color: rgb(24, 24, 24);
  font-weight: bold;
}

.modal__close_modal_btn:hover {
  background-color: rgb(251, 77, 77);
  cursor: pointer;
}

.modal__selects__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.filter__select {
  /* height: 3em; */
  padding: .3em .5em;
  width: 300px;
  margin-bottom: 2em;
  border: none;
  border-right: .7em solid transparent;
  border-radius: .2em;
  box-shadow: 0 0 2px grey;
}

.filter__select:hover {
  cursor: pointer;
}

.modal__purchase_btn_container {
  display: flex;
  justify-content: flex-end;
}

.modal__start_purchase_btn {
  margin-top: 1em;
  padding: .3em .7em;
  border: none;
  border: 1px solid grey;
  border-radius: .2em;
  font-size: .9em;
}


.modal__error{
  color: red;
}

/*EDIT MODAL*/
.creation_form__section_container{
  display: flex;
  flex-direction: column;
  width: 90%;
}

.current__data{
  font-style: italic;
  font-size: .9em;
  color: var(--color-dark-blue);
  margin-bottom: .6em;
}

.new_price__input{
  width: 100%;
  padding: .3em .5em;
  border: none;
  border-right: .7em solid transparent;
  border-radius: .2em;
  box-shadow: 0 0 2px grey;
  margin-bottom: .7em;
}

.creation_form__textarea {
  height: 9em;
  width: 100%;
  margin-bottom: 1em;
  resize: none;
  border: none;
  box-shadow: 0 0 2px grey;
}

.images__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.creation_form__section_container{
  margin: .5em;
}

/*End modal*/

/* Responsive layout */
@media (max-width: 1540px) {
  .products_form__container {
    padding-top: 11em;
  }
 
  .modal{
    width: 50%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}

@media (max-width: 1340px) {
  .products_form__container {
    padding-top: 11em;
  }

  .products_manage_comands{
    display: flex;
    justify-content: space-between;
  }

  .search_bar__input {
    width: 20em;
  }

  .change__price__btn{
    width: 12em;
    margin: 0;
  }

  .visibility__btn {
    width: 12em;
  }
  .modal{
    width: 50%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}

@media (max-width: 1189px) {
  .products_form__container {
    padding-top: 10em;
  }
  .product__card_container {
    font-size: .9em;
  }
  .products_manage_comands{
    display: flex;
    flex-direction: column;
  }
  .search_bar__input{
    width: 25em;
    margin-bottom: 1em;
  }
  .visibility__btn, .change__price__btn {
    width: 25em;
    margin-left: 0;
  }
  .products__map_container{
    width: 25em;
    max-height: 27em;
  }

  .modal{
    width: 60%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}


@media (max-width: 968px) {
  .products_form__container {
    padding-top: 4em;
  }
  .products__map_container{
    width: 25em;
    max-height: 27em;
  }
  .modal{
    width: 60%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}

@media (max-width: 780px) {
  .products_form__container {
    padding-top: 6em;
  }
  .modal{
    width: 70%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}

@media (max-width: 660px) {
  .products_form__container {
    padding-top: 3em;
  }
  .modal{
    width: 80%;
  }

  .modal__container{
    padding: 2em 1em;
  }

}

@media (max-width: 550px) {
  .products_form__container {
    padding-top: 3em;
  }

  .product__card_container {
    font-size: .7em;
  }
  .products__map_container{
    width: 25em;
    max-height: 28em;
  }

  .modal{
    width: 90%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}

@media (max-width: 495px) {
  .products_form__container {
    padding-top: 3em;
  }

  .product__card_container {
    font-size: .7em;
  }

  .products__map_container{
    width: 25em;
    max-height: 28em;
  }

  .modal{
    width: 90%;
  }

  .modal__container{
    padding: 2em 1em;
  }
}