.general {
  margin: auto;
  display: flex;
  align-items: center;
}

.products__container {
  padding: 1em 1em 3em 1em;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: var(--font-paragraph);
}

.product_card__container {
  width: 20em;
  /* max-height: 30em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20em;
  background-color: var(--color-light-pink);
  padding-top: 1em;
  margin: 1em;
  border-radius: 0.3em;
}

.product_card__title_and_img_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product_card__title {
  margin-top: 1em;
  height: 3.5em;
  text-transform: capitalize;
}

.product_card__img {
  margin: 0 1em 1em 1em;
  object-fit: cover;
}

.product_card__info_container {
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}


.add_to_cart__btn {
  margin-top: 1em;
  padding: .3em;
  background-color: var(--color-dark-pink);
  border: none;
  border: 1px solid var(--color-dark-blue);
  border-radius: 5px;
  color: var(--color-dark-blue);
  font-size: .9em;
}

.add_to_cart__btn:focus,
.add_to_cart__btn:hover {
  background-color: rgb(246, 226, 226);
  cursor: pointer;
}

.products__loader {
  margin: auto;
  margin-top: 5em;
  height: 100vh;
  color: var(--color-dark-blue);
  font-family: var(--font-paragraph);
  font-size: 1.5em;
  font-weight: bold;
}



/* SearchBar Not Found */

.products_not_found {
  height: 25vh;
}


/* Pagination */

.pagination__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-bottom: 3em;
  font-family: var(--font-paragraph);
}

.pagination__item {
  list-style: none;
  box-shadow: 0 0 1px black;
  width: 3em;
  padding: .5em;
  text-align: center;
}

.pagination__prev_next {
  border: none;
  background-color: transparent;
  box-shadow: 0 0 1px black;
  width: 3em;
  padding: .5em;
  text-align: center;
}

.pagination__prev_next_hidden {
  visibility: hidden;
}

.pagination__link {
  margin: 0 .3em;
}

.pagination__link:hover,
.pagination__item:hover,
.pagination__prev_next:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pagination__active {
  box-shadow: 0 0 1px black;
  width: 3em;
  padding: .5em;
  text-align: center;
  background-color: var(--color-light-blue);
  color: white;
}


/*MODAL*/
.modal {
  margin-top: 10%;
  background-color: aquamarine;
}

.button__close {
  background-color: red;
  color: black;
}

.right {
  display: flex;
  justify-content: flex-end;
}

/*END MODAL*/