.loading {
  margin-top: 4em;
  font-family: var(--font-paragraph);
  font-weight: bold;
  font-size: 1em;
  color: var(--color-dark-blue);
}

.dashboard__container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--font-paragraph);
}

.dashboard__select {
  font-size: .9em;
  width: 15em;
  padding: .5em;
  margin-bottom: 1.5em;
  border: none;
  border-right: .5em solid transparent;
  border-radius: .2em;
  box-shadow: 0 0 2px grey;
}

.dashboard__secondary_select {
  font-size: .9em;
  width: 10em;
  padding: .5em;
  margin-bottom: 1em;
  border: none;
  border-right: .5em solid transparent;
  border-radius: .2em;
  box-shadow: 0 0 2px grey;
  margin-bottom: 1.3em;
}

.dashboard__select:hover,
.dashboard__secondary_select:hover {
  cursor: pointer;
}

.dashboard_control {
  margin: auto;
  width: 1000px;
}

.dashboard__individual_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard__title {
  font-size: 2em;
  color: var(--color-dark-blue);
  text-align: center;
  margin-bottom: .3em;
}

/* Graphics */

.dashboard__graphic,
.dashboard__graphic_best_selling_product,
.dashboard__graphic_best_ranked_product {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
}

.dashboard__cake_graphic {
  margin-bottom: 4em;
}

.graphic {
  margin: auto;
  width: 500px;
  height: 400px;
}

.cake_graphic {
  width: 500px;
  height: 400px;
  margin-top: -5em;
}

.dashboard__sub_title {
  width: 100%;
  margin-top: 3em;
  margin-right: -2em;
  color: var(--color-dark-blue);
  font-size: 1.3em;
}


/* Responsive layout */


@media (max-width: 1540px) {
  .dashboard__container {
    padding-top: 10em;
  }
}

@media (max-width: 1250px) {
  .dashboard_control {
    width: 500px;
  }
}

@media (max-width: 1175px) {
  .dashboard__container {
    padding-top: 9em;
  }
}

@media (max-width: 900px) {
  .dashboard__container {
    padding-top: 5em;
  }
}

@media (max-width: 780px) {
  .dashboard__container {
    padding-top: 6em;
  }
}

@media (max-width: 660px) {
  .dashboard__container {
    padding-top: 3em;
  }
}

@media (max-width: 600px) {
  .dashboard__container {
    visibility: hidden;
    display: none;
  }
}