/* GENERAL */

.footer__distributed {
  color: white;
  background-color: var(--color-dark-pink);
  font-family: var(--font-paragraph);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr) 2fr;
  grid-gap: 1rem;
  padding-top: 1rem;
  font-size: 0.9em;
}

/* ZONA IZQUIERDA */

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2em;
  grid-column: 1/2;
}

.footer__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.nav__item {
  list-style: none;
  display: inline-block;
  font-family: var(--font-paragraph);
  margin: 0 1.5em;
  transition: transform 300ms ease-in-out;
}

.nav__item:hover {
  color: var(--color-light-blue);
  text-decoration: underline;
  transform: scale(1.05);
}

.nav_toggle {
  display: none;
}

.nav__link {
  color: inherit;
  font-weight: var(--color-light-pink);
  text-decoration: none;
}

/* EXTRA */

.footer__plus {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2em 2em 0 0;
  grid-column: 2/3;
}

/* ZONA CENTRO */

.footer__center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2em 2em 0 0;
  grid-column: 3/4;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer__icons_text {
  margin: 0.5rem;
}

.footer__icons:hover {
  color: var(--color-light-blue);
  text-decoration: underline;
}

/* ZONA DERECHA */

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2em 0;
  grid-column: 4/5;
}

.footer__about {
  grid-area: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  padding-right: 3em;
}

.footer__about p,
.footer__about span {
  font-size: 1.5em;
  font-weight: var(--color-light-pink);
}

.footer__rrssicons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.footer__rrssicons a {
  color: inherit;
  font-size: 1.5em;
  text-decoration: none;
  transition: transform 300ms ease-in-out;
}

.footer__rrssicons a:hover {
  transform: scale(1.15);
}

.footer__rrssicons a:focus {
  transform: scale(1.15);
}

.footer__newsletter {
  display: flex;
  flex-direction: row;
  grid-area: center;
}

.footer__newsletter_title {
  font-size: 1.5em;
  font-weight: var(--color-light-pink);
  margin: 0;
  padding: 0;
}

.footer__newsletter_email {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
  font: var(--font-paragraph);
  color: var(--color-dark-pink);
  background-color: var(--color-light-pink);
}

.footer__newsletter_btn {
  border: none;
  color: white;
  border-radius: 0.5em;
  padding: 0.5em;
  font: var(--font-paragraph);
  background-color: var(--color-dark-pink);
}

.footer__newsletter_btn:hover {
  background-color: var(--color-light-pink);
  color: var(--color-dark-pink);
}

.footer__copyrigth {
  margin: auto;
  text-align: center;
  width: 100%;
  margin: 1.2em 0 ;
}

/* VERSION RESPONSIVE */

@media (max-width: 910px) {
  .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__distributed {
    display: flex;
    flex-direction: column;
  }

  .footer__left {
    margin: 1em;
  }

  .footer__plus {
    align-items: center;
    margin: 1em;
  }

  .footer__center {
    align-items: center;
    margin: 1em;
  }

  .footer__right {
    align-items: center;
    padding-left: 6em;
    padding-right: 6em;
    margin: 1em;
    height: 100%;
  }

  .footer__about {
    text-align: center;
    padding: 0;
  }

  .footer__title {
    text-align: center;
  }

  .footer__copyrigth {
    margin: auto;
    text-align: center;
    width: 100%;
    margin: 1.2em 0 ;
  }
}
