.error {
  color: red;
  text-align: center;
  font-size: .8em;
  margin-top: -1.2em;
  margin-bottom: 1em;
}

.checkout__container {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  justify-content: space-around;
  padding-top: 8em;
  margin: 0 3em 3em 3em;
  font-family: var(--font-paragraph);
}

.first__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: fit-content;
  /* background-color: burlywood; */
}

.second__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}


/* *CHECKOUT FORM: CARD USER ADDRESS - ADDRESS FORM - INFO CONFIRMATION BUTTON* */


.fieldset__container {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 2em;
  padding-right: 2em; /*ver responsive*/
  width: 100%;
}

.container__row_column {
  display: flex;
  flex-direction: column;
} 

.form__label {
  text-align: center;
  background-color: rgb(230, 226, 226);
}

.form__input {
  padding: 0.3em;
  margin-bottom: 1.5em; 
}

/* Rows with 2 inputs */

.input__unifier {
  display: flex;
}

.container__row_column_two_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__label_two_inputs {
  width: 100%;
  text-align: center;
  background-color: rgb(230, 226, 226);
}

.form__input_first_input,
.form__input_second_input {
  width: 100%;
  padding: 0.3em;
  margin-bottom: 1.5em; 
}

/* Rows with 3 inputs */

.container__row_column_three_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__label_three_inputs {
  width: 100%;
  text-align: center;
  background-color: rgb(230, 226, 226);
}

.form__input_1,
.form__input_2,
.form__input_3 {
  width: 100%;
  padding: 0.3em;
  margin-bottom: 1.5em; 
}

/* Content */

.address_form_container {

}

.card_user_address_container {
  padding-left: .5em;
}

.column__title {
  font-size: 2em;
  margin-bottom: .5em;
  color: var(--color-dark-blue);
}

.column__title_secondary {
  font-size: 1.1em;
  margin-bottom: .7em;
  margin-top: .2em;
  color: var(--color-dark-blue);
}

.addresses_empty_message {
  margin-bottom: .5em;
  margin-left: -.5em;

}

/* Address button */

.checkout_form__btn {
  padding: .3em .5em;
  border: none;
  border: 1px solid var(--color-dark-blue);
  border-radius: .2em;
  color: var(--color-dark-blue);
  background-color: rgb(246, 219, 219);
}

.checkout_form__btn:hover {
  cursor: pointer;
  background-color: rgb(249, 199, 199);
  padding-right: 2em; /*ver*/
}

/* Continue to payment button */

.checkout_form__btn_container {
  display: flex;
  justify-content: flex-end;
}


/* *INFO CONFIRMATION MODAL: CONFIRM DATA - BUTTON SUBMIT MERCADOPAGO* */


.modal {
  width: 40%;
  margin: auto;
  margin-top: 7em;
  margin-bottom: 7em;
  max-height: 75%;
  overflow-y: auto;
  border: 2px solid rgb(211, 210, 210);
}

.modal__container {
  background-color: rgb(248, 246, 248);
  font-family: var(--font-paragraph);
  padding: 2em 3em;
}

.modal__container > h2 {
  letter-spacing: 1px;
  font-size: 1.2em;
  padding-bottom: 1em;
}

.modal__btn_right_container {
  float: right;
}

.modal__close_modal_btn {
  border: none;
  border-radius: .2em;
  padding: .2em .7em;
  background-color: rgb(250, 47, 47);
  color: rgb(24, 24, 24);
  font-weight: bold;
}

.modal__close_modal_btn:hover {
  background-color: rgb(251, 77, 77);
  cursor: pointer;
}

/* Modal information */

.modal__client_container {
  margin: 1em 0 2em 0;
  display: flex;
  flex-direction: column;
}

.client_info_span {
  font-weight: bold;
  margin-right: .1em;
}

.modal__client_name,
.modal__client_address_name,
.modal__client_address,
.modal__client_phone,
.modal__client_zipcode {
  text-transform: capitalize;
}

/* Info confirmation modal button */

.modal_confirmation_btn_container {
  display: flex;
  justify-content: flex-end;
}

.modal__confirm_btn {
  color: black;
  padding: .3em .7em;
  border: none;
  border: 1px solid grey;
  border-radius: .2em;
}

.modal__confirm_btn:hover,
.modal__confirm_btn:focus {
  background-color: rgb(231, 229, 229);
  cursor: pointer;
}

.modal__pay_btn_container {
  display: flex;
  justify-content: flex-end;
}

.modal__pay_btn {
  color: white;
  background-color: rgb(14, 185, 14);
  padding: .3em .7em;
  border: none;
  border: 1px solid grey;
  border-radius: .2em;
}

.modal__pay_btn:hover {
  cursor: pointer;
  background-color: rgb(13, 199, 13);
}


/* *EXISTING ADDRESSES: * */


.existing_addresses__container {
  width: 100%;
  margin-left: -1em;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.your_info_title {
  margin-bottom: .5em;
  font-size: 1.1em;
  text-decoration: underline;
  text-transform: uppercase;
}

.addresses_container {
  width: 100%;
  margin-left: -1em;
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.addresses_title {
  margin-bottom: .5em;
  color: var(--color-dark-blue);
  font-style: italic;
  font-weight: 500;
}

.address_selection_container {
  display: flex;
  width: 100%;
}

.addresses_select {
  width: 12em;
  height: 2em;
  padding: .3em;
  border: none;
  border-right: .3em solid transparent;
  box-shadow: 0 0 2px grey;
  border-radius: .1em;
  margin-bottom: 1em;
  margin-right: 2em;
}

.addresses_select:hover {
  cursor: pointer;
}

.addresses_title_name {
  text-transform: uppercase;
}


/* *CHECKOUT FORM PRODUCTS: CARD CART* */


.item__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px grey;
  width: 100%;
  margin-bottom: 1em;
  background-color: rgb(248, 246, 248);
  max-height: 25em;
  overflow-y: scroll;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
  box-shadow: 0 0 1px grey;
  border-radius: 0.2em;
  padding: 0.5em;
  width: 95%;
  background-color: white;
}

.item:first-child {
  margin-top: 1em;
}

.item:last-child {
  margin-bottom: 1em;
}

/* Product image */

.product__img_container {
  width: 30%;
  width: 8em;
  height: 8em;
}

.product__img {
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: .2em;
}

/* Product info */

.item__info_container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding-top: .5em;
  margin-left: 2em;
  margin-right: 1em;
}

.item__info {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.item__info > h3 {
  text-transform: capitalize;
  margin-bottom: .5em;
}

.item__subtotal {
  margin-right: 1em;
  margin-left: auto;
  font-size: 1em;
}

.total__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  width: 100%;
  padding: .5em 1em;
}

.__shipping_line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: .5em;
}

.__shipping {
  color: grey;
  font-size: 1.1em;
}

.__total_line {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.__total {
  color: var(--color-dark-blue);
  font-size: 1.5em;
}


/* *RESPONSIVE LAYOUT* */


@media (max-width: 1540px) {
  .modal {
    margin-top: 10em;
    width: 50%;
  }
}

@media (max-width: 1175px) {
  .modal {
    margin-top: 9em;
    width: 60%;
  }
}

@media (max-width: 850px) {
  .modal {
    margin-top: 9em;
    width: 70%;
  }
}

@media (max-width: 780px) {
  .modal {
    margin-top: 11em;
    width: 80%;
  }
}

@media (max-width: 490px) {
  .modal__container {
    padding: 1.5em;
  }

  .modal_info_container {
    display: flex;
    flex-direction: column;
  }

  .modal__product_mobile_separator {
    margin: 0;
    margin-top: 1em;
    width: 100%;
  }

  .modal__product_btns_container {
    display: flex;
    flex-direction: row;
    width: 7em;
    justify-content: space-between;
    align-items: center;
  }

  .modal__product_btn {
    width: 1.8em;
    margin-left: .3em;
  }
}

@media (max-width: 415px) {
  .modal__client_container {
    font-size: .9em;
  }
}

/* @media screen and (min-width: 998px) and (max-width: 1280px) {
  .checkout__container {
    margin-right: 4em;
  }

  .fieldset__container {
    width: 100%;
  }

  .conteiner__3col_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3em;
  }

  .product__img_container {
    width: 5em;
    height: 5em;
  }
} */

@media (max-width: 1000px) {
  .checkout__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 11em;
  }

  .first__column {
    width: 90%;
    margin: 0em 1.5em 2em 2.5em;
  }

  .fieldset__conteiner {
    width: 100%;
  }

  .btn__align {
    display: flex;
    align-self: flex-end;
    padding-right: 0;
    margin-bottom: 2em;
  }

  .second__column {
    width: 90%;
    margin: auto;
    margin-bottom: 3em;
  }

  .product_card__img {
    object-fit: cover;
    width: 100%;
  }
}


@media (max-width: 700px) {
  .first__column {
    margin: 0em 1.5em 2em 2em;
  }
}

@media (max-width: 640px) {
  .conteiner__2col_row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .conteiner__3col_row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .product__img_container {
    width: 5em;
    height: 5em;
  }

  .product_card__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 500px) {
  .first__column {
    margin: 0em 1.5em 2em 1.5em;
  }
}

@media (max-width: 400px) {
  .first__column {
    margin: 0em 1.5em 2em 1em;
  }
}


@media (max-width: 375px) {
  .item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.9em;
    height: 100%;
  }

  .item__info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  .item__subtotal {
    text-align: end;
    margin-left: 1em;
    margin-right: 1em;
  }
}
