.slider__container {
  margin: auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
  background-color: blue;
}

.admin__loader {
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark-blue);
  font-family: var(--font-paragraph);
  font-size: 2em;
}
