.detail__container {
  padding: 8em 0 4em 0;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  font-family: var(--font-paragraph);
  max-width: 1400px;
}

.detail__container__images {
  display: flex;
  justify-content: center;
  height: 34em;
}

.image__secondary__container {
  margin-right: 1em;
  height: 100%;
}

.image_individual__container {
  width: 100%;
  margin-bottom: .5em;
  object-fit: cover;
}

.image_individual__container:last-child {
  margin-bottom: 0;
}

.image_individual__img {
  width: 100%;
  object-fit: cover;
  border: 2px solid white;
}

.image_individual__container:hover {
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
}

.image_individual__img:hover {
  border: 2px solid var(--color-dark-blue);
}

.image_main__container {
  width: 45em;
}

.image_main__img {
  border: 2px solid white;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ZONA DE INFO */

.detail__info {
  margin-left: 4em;
}

.detail__info_extra {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail__info_title {
  font-family: var(--font-paragraph);
  color: var(--color-dark-blue);
  letter-spacing: 1px;
  font-size: 2em;
  font-weight: 600;
  padding-bottom: .5em;
}

.detail__info_price {
  font-family: var(--font-paragraph);
  color: var(--color-primary);
  font-size: 1.4em;
  margin-bottom: .7em;
}

.detail__info_extra {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1em;
}

.detail__info_extras {
  background-color: var(--color-light-pink);
  padding: .5em;
  border-radius: .2em;
  text-transform: capitalize;
}

.detail__info_extras:first-child {
  margin-right: 1em;
}

.detail_info_description {
  font-family: var(--font-paragraph);
  font-size: .95em;
  background-color: rgb(249, 245, 245);
  padding: .5em;
  margin: 3em 0 2em 0;
  border-radius: .2em;
}

.detail_info_description_title {
  font-weight: bold;
  padding-bottom: .5em;
}

.add_to_cart__btn {
  font-family: var(--font-paragraph);
  padding: 0.3em;
  background-color: var(--color-dark-pink);
  border: none;
  border: 1px solid var(--color-dark-blue);
  border-radius: 3px;
  color: var(--color-dark-blue);
  font-size: 0.9em;
  width: 100%;
}

.add_to_cart__btn:focus,
.add_to_cart__btn:hover {
  background-color: rgb(246, 226, 226);
  cursor: pointer;
}


/*MODAL - ale, no me mates con mi css jhaja*/
.modal {
  margin: 20%;
  background-color: aquamarine;
}

.button__close {
  background-color: red;
  color: black;
}

.right {
  display: flex;
  justify-content: flex-end;
}

/* end modal*/

@media (max-width: 1540px) {
  .detail__container {
    padding-top: 11em;
    max-width: 90%;
  }
}

@media (max-width: 1300px) {
  .image_main__container {
    width: 40em;
  }
}

@media (max-width: 1100px) {
  .detail__container {
    margin: auto;
    padding-top: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image_individual__container {
    width: 100%;
    margin-bottom: .5em;
    max-height: 9em;
  }

  .image_individual__img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  .detail__info {
    margin: auto;
    margin-top: 4em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}

@media (max-width: 780px) {
  .detail__container {
    margin: 0;
    padding: 0;
    padding-top: 18em;
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .detail__container__images {
    padding: 0;
    margin: 0;
    margin-bottom: 5em;
    width: 100%;
    height: 31em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .image_main__container {
    margin: 0;
    padding: 0;
    height: 35em;
    width: 100%;
  }

  .image_main__img {
    width: 100%;
    height: 35em;
  }

  .image__secondary__container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .image_individual__container {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  .image_individual__img {
    padding: 0;
    margin: 0;
    margin: auto;
    border: 2px solid white;
    width: 11em;
    height: 10em;
  }

  .detail__info {
    width: 100%;
    margin-top: 0%;
    padding-top: 10%;
    margin-bottom: 4em;
  }
}

@media (max-width: 600px) {
  .detail__info {
    width: 100%;
    padding-top: 15%;
  }
}

@media (max-width: 500px) {
  .detail__info {
    width: 100%;
    margin-top: 1em;
  }
}
