.reviews__container {
  padding-top: 8em;
  font-family: var(--font-paragraph);
  width: 90%;
  margin-bottom: 6em;
  min-height: 100vh;
  padding-top: 8em;
}

.reviews__title {
  font-size: 2em;
  color: var(--color-dark-blue);
  margin-bottom: 0.5em;
}

.reviews__title_hidden {
  visibility: hidden;
}

.reviews__review_container {
  background-color: rgb(248, 246, 246);
  padding: 1.5em 1em 1em 1em;
  margin-bottom: 1em;
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}

.reviews__img_container {
  width: 13em !important;
  height: 13em !important;
  margin-right: 1em;
}

.reviews__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviews__info_container {
  margin-bottom: 4em;
  width: 90%;
}

.reviews__info {
  margin-bottom: 1em;
}

.reviews__name {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.reviews__details {
  text-decoration: underline;
  color: var(--color-dark-blue);
}

.reviews__details:hover {
  cursor: pointer;
}

.reviews__review_message_container {
  display: flex;
}

.reviews__review_message {
  text-transform: lowercase;
  padding-right: 1em;
  margin-bottom: 0.5em;
}

.reviews__span {
  font-weight: bold;
  text-transform: capitalize;
  margin-right: .3em;
}

.reviews__rating_container {
  display: flex;
}

.reviews__rating_value_container {
  display: flex;
}

.stars__filled {
  color: var(--color-dark-pink);
  size: 12;
  margin-right: 0.2em;
}

.stars__empthy {
  color: var(--color-light-grey);
  size: 12;
  margin-right: 0.2em;
}

.first__line_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.delete__review {
  display: flex;
  align-self: flex-start;
  margin-left: 1em;
  border: none;
  border-radius: 0.2em;
  padding: 0.2em 0.7em;
  background-color: rgb(250, 47, 47);
  color: rgb(24, 24, 24);
  font-weight: bold;
}

.delete__review:hover {
  background-color: rgb(251, 77, 77);
  cursor: pointer;
}


/* Loader */


.loading {
  height: 100vh;
  margin: auto;
  padding-top: 10em;
  font-family: var(--font-paragraph);
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-dark-blue);
}


/* Empty shopping cart */


.empty_cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.empty_cart__message {
  padding-top: 6em; 
  margin-bottom: 2em;
}

.empty_cart__btn {
  font-family: var(--font-paragraph);
  padding: 0.5em 1em;
  background-color: var(--color-light-pink);
  border: none;
  border: 1px solid var(--color-dark-blue);
  border-radius: 3px;
  color: var(--color-dark-blue);
  font-size: 0.9em;
}

.empty_cart__btn:focus,
.empty_cart__btn:hover {
  background-color: rgb(246, 226, 226);
  cursor: pointer;
}


/* Responsive layout */


@media (max-width: 1540px) {
  .reviews__container {
    padding-top: 10em;
  }
}

@media (max-width: 1175px) {
  .reviews__container {
    padding-top: 9em;
  }
}

@media (max-width: 880px) {
  .reviews__container {
    padding-top: 2em;
  }

  .delete__review {
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width: 780px) {
  .reviews__container {
    padding-top: 4em;
  }
}

@media (max-width: 660px) {
  .reviews__container {
    padding-top: 2em;
  }
}

@media (max-width: 520px) {
  .reviews__container {
    font-size: .9em;
  }
  
  .reviews__info_container {
    font-size: .9em;
  }
}

