.cart__container {
  min-height: 100vh;
  padding-top: 8em;
  font-family: var(--font-paragraph);
  width: 80%;
  margin: auto;
}

.modal__container {
  padding: 2em 3em;
}

.modal__container > h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.8em;
  color: var(--color-dark-blue);
  padding-bottom: 1em;
}

.modal__btn_right_container {
  float: right;
}

.modal__product_container {
  margin-bottom: 1em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid rgb(211, 210, 210);
}

.modal__product_name {
  font-size: 1.1em;
  text-transform: capitalize;
  margin-bottom: .7em;
}

.modal_info_container {
  display: flex;
  justify-content: space-between;
}

.modal__product_img_container {
  width: 8em;
  height: 8em;
}

.modal__product_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.modal__product_mobile_separator {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
}

.modal__product_info {
  width: 9em;
}

.modal__product_data {
  font-size: .9em;
}

.modal__product_btns_container {
  display: flex;
  flex-direction: column;
}

.modal__product_btn {
  margin-bottom: .7em;
}

.modal__product_btn_trash {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3em;
}

.modal__product_btn_trash:hover,
.modal__product_btn:hover {
  cursor: pointer;
}

.modal__total_container {
  display: flex;
  justify-content: space-between;
}

.modal__total {
  color: var(--color-dark-blue);
  font-size: 1.3em;
  font-weight: bold;
}

.modal__purchase_btn_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2em;
  margin-bottom: 3em;
}

.modal__start_purchase_btn {
  margin-top: 1em;
  padding: .3em .7em;
  border: none;
  border: 1px solid grey;
  border-radius: .2em;
  font-size: .9em;
}

.modal__start_purchase_btn:hover,
.modal__start_purchase_btn:focus {
  background-color: rgb(231, 229, 229);
  cursor: pointer;
}


/* Empty shopping cart */


.empty_cart__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty_cart__message {
  padding-top: 5em;
  margin-bottom: 2em;
}

.empty_cart__btn {
  font-family: var(--font-paragraph);
  padding: 0.5em 1em;
  background-color: var(--color-light-pink);
  border: none;
  border: 1px solid var(--color-dark-blue);
  border-radius: 3px;
  color: var(--color-dark-blue);
  font-size: 0.9em;
}

.empty_cart__btn:focus,
.empty_cart__btn:hover {
  background-color: rgb(246, 226, 226);
  cursor: pointer;
}


/* Responsive layout */


@media (max-width: 1540px) {
  .cart__container {
    padding-top: 11em;
  }
}

@media (max-width: 1175px) {
  .cart__container {
    padding-top: 10em;
  }
}

@media (max-width: 780px) {
  .cart__container {
    padding-top: 11em;
  }
}

@media (max-width: 490px) {
  .modal__container > h2 {
    text-align: center;
  }

  .modal__container {
    padding: 1.5em;
  }

  .modal_info_container {
    display: flex;
    flex-direction: column;
  }

  .modal__product_mobile_separator {
    margin: 0;
    margin-top: 1em;
    width: 100%;
  }

  .modal__product_btns_container {
    display: flex;
    flex-direction: row;
    width: 7em;
    justify-content: space-between;
    align-items: center;
  }

  .modal__product_btn {
    width: 1.8em;
    margin-left: .3em;
  }
}

@media (max-width: 400px) {
  .cart__container {
    width: 98%;
  }
}
