.review__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: var(--font-paragraph);
  width: 100%;
  max-width: 800px;
  margin: 0 3em 4em 3em;
}

.review__title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.review__alert {
  margin-bottom: 0.5em;
  color: red;
}

.review__alert__ok {
  margin-bottom: 0.5em;
  color: green;
}

.review__container_text {
  display: flex;
  position: relative;
}

.review__icon {
  position: absolute;
  width: 2em;
  height: 2em;
  top: 0.2em;
  padding: 1em 1em;
}

.rating__container{
  display: flex;
  flex-direction: row; 
}

.rating__stars_container{
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

.rating__star_input{
  display: none;
}

.rating__star{
  color: var(--color-dark-pink);
  cursor: pointer;
  size: 12;
  margin-right: .2em;
 
}

.rating__star_hover{
  color: var(--color-light-grey);
  size: 12;
  cursor: pointer;
  margin-right: .2em;
}

.review__description {
  resize: none;
  width: 100%;
  height: 10em;
  border-radius: 0.2em;
  border: 1px solid var(--color-dark-blue);
  margin-bottom: 1em;
  padding: 1em 1em 1em 3em;
}

.review__description::-webkit-input-placeholder {
  color: var(--color-dark-blue);
  font-size: 1em;
}

.review__btn {
  width: 6em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  padding: 0.5em;
  background-color: var(--color-light-pink);
  border: 1px solid var(--color-dark-blue);
  border-radius: 5px;
  font-family: var(--font-paragraph);
  font-size: 0.9em;
  color: var(--color-dark-blue);
}

.review__btn:hover {
  background-color: rgb(246, 226, 226);
  cursor: pointer;
}

.listReviews__container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-top: 2em;
  padding: 1em ;
  border-radius: 0.2em;
  background-color: rgb(249, 245, 245);
}

.listReviews__avatar{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  width: 3em;
  height: 3em;
}

.listReview__info{
  margin-left: 1em;
  width: 70%;
  word-wrap: break-word;
}

.review__info{
  display: flex;
  flex-direction: row;
}

.listReviews__rating_container{
  margin-left: auto;
}

/* Responsive layout */

@media (max-width: 1100px) {
  .review__container {
    max-width: 600px;
  }
}

@media (max-width: 850px) {
  .review__container {
    max-width: 550px;
  }
}

@media (max-width: 780px) {
  .review__container {
    max-width: 500px;
  }
}
